@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Public Sans";
  font-family: "DM Serif Display";
}

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 40px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-left: 24px;
  display: none;
}

.header__link {
  color: #36536b;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  margin-left: 40px;
}
.header__link:hover {
  color: #b10404;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__btn {
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
  border-radius: 24px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  background-color: #ba4270;
  padding: 16px 25px;
  border: none;
  cursor: pointer;
  display: none;
}
.header__btn:hover {
  color: #fbfcfe;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.7019607843);
          box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.7019607843);
}

.start__img2 {
  border-radius: 30px;
}

@media screen and (min-width: 689px) {
  .header__item {
    display: block;
  }
  .header__btn {
    display: block;
  }
  .header__menu {
    display: none;
  }
}
.start {
  background-repeat: no-repeat;
  background-image: url("/img/header_bg.svg");
  background-size: contain;
  padding-top: 110px;
  text-align: center;
  padding-bottom: 79px;
}

.start__title {
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  margin-top: 25px;
  text-align: center;
  display: inline-block;
}

.input {
  color: #98A8B5;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 24px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  background-color: #fbfcfe;
  padding: 16px 110px 14px 27px;
  margin-top: 24px;
  border: none;
}

.start__btn {
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
  border-radius: 24px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.2509803922);
  background-color: #ba4270;
  padding: 16px 25px;
  border: none;
  cursor: pointer;
  padding: 16px 100px;
  margin-top: 16px;
  margin-bottom: 27px;
}

.start__text {
  color: #6c8294;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.start__text_link {
  color: #6c8294;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

@media screen and (min-width: 689px) {
  .start {
    padding-top: 136px;
  }
  .start__title {
    max-width: 573px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-top: 48px;
  }
  .start__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .input {
    padding: 16px 220px 14px 27px;
  }
  .start__btn {
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    -webkit-transform: translateX(138px);
            transform: translateX(138px);
    padding: 15px 25px;
  }
  .start__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px;
    margin-bottom: 16px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .input {
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: inline-block;
  }
}
@media screen and (min-width: 992px) {
  .start__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .start__img {
    margin-right: 90px;
  }
  .start {
    background-image: url("/img/header_bg_decktop.svg");
    background-size: 640px 585px;
    background-position: right top;
  }
  .start__box {
    width: 546px;
    text-align: start;
  }
  .start__title {
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    text-align: start;
  }
  .start__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .start__btn {
    -webkit-transform: translateX(265px);
            transform: translateX(265px);
  }
  .start__text {
    margin-left: 27px;
  }
}
.work__content {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1b262f;
  background-repeat: no-repeat;
  background-image: url("/img/work_bg.svg");
  background-size: contain;
  background-position: left top;
}

.work__main {
  gap: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.work__about {
  text-align: center;
}

.work__about_title {
  margin-top: 56px;
  color: #fbfcfe;
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
}

.work__about_text {
  color: #6C8294;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 60px;
}

.work__about_btn {
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgb(251, 252, 254);
  border-radius: 24px;
  padding: 16px 32px;
  background-color: inherit;
  cursor: pointer;
}
.work__about_btn:hover {
  color: #fbfcfe;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  .work__content {
    background-image: url("/img/work_bg_tablet.svg");
  }
  .work__main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .work__about_title {
    margin-top: 64px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
  }
  .work__about_text {
    margin-top: 24px;
    margin-bottom: 32px;
    width: 456px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1110px) {
  .work__content {
    background-image: url("/img/work_bg_decktop.svg");
    background-size: 390px 485px;
  }
  .work__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work__about {
    text-align: start;
  }
  .work__about_title {
    margin-top: 0;
  }
}
.easy {
  padding-top: 80px;
}

.ease__pozit {
  text-align: center;
}

.easy__foto {
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 25px -10px rgb(54, 83, 107);
          box-shadow: 10px 10px 25px -10px rgb(54, 83, 107);
}

.easy__title {
  color: rgb(54, 83, 107);
  font-family: DM Serif Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-top: 48px;
}

.easy__text {
  color: #6C8294;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .easy {
    padding-top: 100px;
  }
  .easy__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
  }
  .easy__text {
    max-width: 573px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) {
  .easy__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .easy__box {
    margin-left: 20px;
    text-align: left;
  }
  .easy__title {
    margin-top: 0;
  }
  .easy__text {
    max-width: 445px;
  }
}
.simple {
  padding-top: 80px;
  padding-bottom: 24px;
}

.simple__content {
  text-align: center;
}

.simple__title {
  color: rgb(54, 83, 107);
  font-family: DM Serif Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.28px;
  margin-top: 48px;
}

.simple__text {
  color: #6C8294;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .simple__box {
    max-width: 573px;
    margin-right: auto;
    margin-left: auto;
  }
  .simple__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
  }
}
@media screen and (min-width: 992px) {
  .simple__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .simple__box {
    max-width: 445px;
    text-align: left;
    margin-right: 20px;
    margin-left: 0;
  }
  .simple__title {
    margin-top: 0;
  }
  .simple {
    padding-top: 140px;
    padding-bottom: 146px;
    background-repeat: no-repeat;
    background-image: url("/img/simple_bg.svg");
    background-size: contain;
    background-position: right top;
  }
}
.ready {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ready__box {
  text-align: center;
  margin-bottom: 48px;
}

.ready__box_title {
  color: #36536b;
  font-family: Public Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.14px;
  margin-top: 33px;
}

.ready__box_text {
  color: #6C8294;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.ready__end {
  text-align: center;
}

.ready__end_title {
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
}

.input_end {
  margin-top: 32px;
}

.ready__end_btn {
  color: #fbfcfe;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
  border-radius: 24px;
  background-color: #ba4270;
  padding: 16px 100px;
  border: none;
  margin-top: 16px;
  cursor: pointer;
}

@media screen and (min-width: 689px) {
  .ready__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .ready__end_input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .input_end {
    margin-top: 0;
  }
  .ready__end_title {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 40px;
  }
  .ready__end_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ready__end_btn {
    margin-top: 0;
    position: absolute;
    padding: 15px 25px;
    -webkit-transform: translateX(131px);
            transform: translateX(131px);
  }
}
@media screen and (min-width: 992px) {
  .ready__end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ready__end_title {
    margin-bottom: 0;
  }
}
.footer {
  background: #1b262f;
  padding-top: 46px;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-image: url("/img/footer_bg.png");
  background-size: contain;
  background-position: bottom;
}

.footer__main {
  text-align: center;
}

.footer__item {
  margin-top: 40px;
}

.footer__about {
  margin-bottom: 31px;
}

.footer__link {
  color: #B7BBBF;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}
.footer__link:hover {
  color: #a60707;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icon {
  margin-top: 10px;
}

.footer__img:hover svg path {
  fill: #a60707;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (min-width: 689px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__item {
    margin-top: 0;
    margin-left: 64px;
    gap: 40px;
  }
  .footer__about {
    margin-bottom: 0;
  }
  .footer {
    background-image: url("/img/footer_bg_tablet.png");
    background-size: contain;
    background-position: right bottom;
  }
}
.hero {
  padding-top: 126px;
  background-repeat: no-repeat;
  background-image: url("/img/header_bg2.png");
  background-size: 275px 135px;
  background-position: right top;
}

.hero__title {
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: center;
  margin-bottom: 48px;
}

.hero__box_item {
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 233px;
  width: 100%;
  text-align: center;
}

.hero__box_title {
  color: #ba4270;
  font-family: DM Serif Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.18px;
  margin-bottom: 17px;
}

.hero__box_text {
  color: #6C8294;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 8px;
}

.hero__box_price {
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.43px;
}

@media screen and (min-width: 689px) {
  .hero__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .hero__box_item {
    margin-bottom: 21px;
  }
  .hero__title {
    margin-bottom: 69px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
  }
  .hero {
    padding-top: 163px;
    background-size: 375px 325px;
  }
  .hero__box_text {
    margin-bottom: 19px;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    padding-top: 170px;
    background-image: url("/img/header_bg2_decktop.png");
    background-size: 510px 220px;
  }
  .hero__box_item {
    margin-bottom: 24px;
    max-width: 350px;
    width: 100%;
    text-align: left;
  }
  .hero__box {
    gap: 30px;
  }
  .hero__title {
    text-align: left;
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
  }
}
.plan {
  display: none;
}

.plan__text {
  color: #36536b;
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 36px;
  position: relative;
}
.plan__text::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("/img/plan_icon.svg");
  background-repeat: no-repeat;
  top: 8px;
  left: 0px;
}

.plan__box {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 45px;
  margin-bottom: 24px;
  border-top: 2px solid #C0CBD5;
  border-bottom: 2px solid #C0CBD5;
  text-align: left;
}
.plan__box:hover {
  border-top: 2px solid #ed0000;
  border-bottom: 2px solid #ed0000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.plan__item {
  color: #C0CBD5;
  font-family: Public Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 36px;
}

.plan__btn {
  color: #36536b;
  font-family: Public Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #36536b;
  border-radius: 24px;
  padding: 16px 28px;
}
.plan__btn:hover {
  color: #36536b;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.7019607843);
          box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.7019607843);
}

.plan__box_hero {
  margin-top: 24px;
}

.plan__block_box {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media screen and (min-width: 689px) {
  .plan__box_hero {
    display: none;
  }
  .plan__block_box {
    display: none;
  }
  .plan {
    display: block;
  }
  .plan__box_head {
    max-width: 223px;
    width: 100%;
    text-align: center;
  }
  .plan__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .plan__none_box {
    margin-top: 72px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 992px) {
  .plan__box {
    padding-left: 0;
  }
  .plan__box_head {
    max-width: 350px;
    text-align: left;
  }
  .plan__content {
    gap: 30px;
  }
  .plan__none_box {
    margin-top: 96px;
    margin-bottom: 96px;
  }
}/*# sourceMappingURL=main.css.map */